# requirements.txt

# Core Django and Server
asgiref==3.9.1
Django==5.2.4
dj-database-url==3.0.1
python-dotenv==1.1.1
sqlparse==0.5.3

# Gunicorn for production server
gunicorn==23.0.0
whitenoise==6.9.0
psycopg2-binary==2.9.10

# Forms and UI
crispy-bootstrap5==2024.1
django-crispy-forms==2.1

# Image handling
pillow==11.3.0

# Payments
stripe==12.3.0

# Security and Admin Tools
django-otp==1.6.1
django-admin-honeypot==1.3.0
qrcode==7.4.2

# History and Auditing
django-simple-history==3.10.1
django-impersonate==1.9.2
django-admin-rangefilter==0.11.2

# File Storage (e.g., for AWS S3)
django-storages==1.14.3
boto3==1.34.146
botocore==1.34.146

# Dependencies of other packages
certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
packaging==25.0
requests==2.32.4
typing_extensions==4.14.1
urllib3==2.5.0
jmespath==1.0.1
s3transfer==0.10.1