{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Enter New Password{% endblock %}
{% block content %}
    <div style="max-width: 500px; margin: auto;">
        {% if validlink %}
            <h2 class="mb-4">Set a New Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-success btn-lg mt-3">Change my password</button>
                </div>
            </form>
        {% else %}
            <div class="alert alert-danger text-center">
                <h2>Password Reset Failed</h2>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}