{% extends "base.html" %}

{% block title %}Quiz Player Test{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1 class="mt-5">Quiz Player Test Page</h1>
        <p class="lead">This is question number: {{ question_index }}</p>
        <div class="alert alert-success mt-4">
            <p class="mb-0">{{ test_message }}</p>
        </div>
        <p class="mt-4">If you can see this, the server error is fixed. We can now proceed to the final step.</p>
    </div>
{% endblock %}