{% extends "base.html" %}

{% block title %}Password Changed - BitePrep{% endblock %}

{% block head_styles %}
    <!-- This tag will automatically redirect the user to the account page after 5 seconds -->
    <meta http-equiv="refresh" content="5;url={% url 'account' %}">
{% endblock %}

{% block content %}
    <div class="alert alert-success text-center">
        <h2>Password Changed Successfully</h2>
        <p>Your password has been updated. You will be redirected to the account page shortly.</p>
        <p class="text-muted">If you are not redirected, <a href="{% url 'account' %}">click here</a>.</p>
        <a href="{% url 'account' %}" class="btn btn-primary mt-3">Return to Account Page</a>
    </div>
{% endblock %}